<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выбор планеты</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
</head>
<body class="bg-light">

<div>
    <h1 class="display-4">Моё предложение {{ planet }}!</h1>
    <p>Это прекрасная планета;</p>

        <h4 class="alert-heading">Рекомендации по освоению:</h4>
        <div class="alert alert alert-success" role="alert">
            <p class="text-success">Проверьте атмосферные условия.</p>
        </div>
        <div class="alert alert alert-dark" role="alert">
            <p class="text-secondary">Проверьте наличие любых жизненных форм.</p>
        </div>
        <div class="alert alert alert-warning" role="alert">
            <p class="text-warning">Возьмите друзей.</p>
        </div>
        <div class="alert alert alert-danger" role="alert">
            <p class="text-danger">Хорошо физически подготовтесь.</p>
        </div>
    </div>

</div>

</body>
</html>